<div class="table-container">
  <table mat-table *ngIf="data.data.length > 0" [dataSource]="data" #table="matTable">
    <ng-container matColumnDef="when">
      <th mat-header-cell class="date-column-header" *matHeaderCellDef>Date</th>
      <td mat-cell class="date-column" *matCellDef="let element; table: table">{{element.when}}</td>
    </ng-container>
    <ng-container matColumnDef="debit">
      <th mat-header-cell class="right-aligned-header" *matHeaderCellDef>Debit</th>
      <td mat-cell class="mat-column-right" *matCellDef="let element; table: table">{{element.debit ? element.debit.toLocaleString('en-US', {style: 'currency', currency: 'USD'}) : ''}}</td>
    </ng-container>
    <ng-container matColumnDef="credit">
      <th mat-header-cell class="right-aligned-header" *matHeaderCellDef>Credit</th>
      <td mat-cell class="mat-column-right" *matCellDef="let element; table: table">{{element.credit ? element.credit.toLocaleString('en-US', {style: 'currency', currency: 'USD'}) : ''}}</td>
    </ng-container>
    <ng-container matColumnDef="balance">
      <th mat-header-cell class="right-aligned-header" *matHeaderCellDef>Balance</th>
      <td mat-cell class="mat-column-right" *matCellDef="let element; table: table">{{element.balance ? element.balance.toLocaleString('en-US', {style: 'currency', currency: 'USD'}) : ''}}</td>
    </ng-container>
    <ng-container matColumnDef="otherAccount">
      <th mat-header-cell class="right-aligned-header" *matHeaderCellDef>Other Account</th>
      <td mat-cell class="mat-column-right" *matCellDef="let element; table: table"><a routerLink="/account">{{element.otherAccount}}</a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay; table: table"></tr>
  </table>
</div>
<p *ngIf="data.data.length == 0">No transactions entered yet.</p>
