.table-container {
  height: 60vh;
  overflow-y: auto;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-column-right {
  text-align: right !important;
}

.highlighted-row {
}

.data-row {
  cursor: default;
}
