<form [formGroup]="fastEntryGroup" class="fast-entry-form">
  <mat-form-field class="fast-entry-element">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-radio-group formControlName="creditDebit" class="radio-group">
    <div class="radio-buttons">
      <mat-radio-button class="radio-button" value="credit">Credit</mat-radio-button>
      <mat-radio-button class="radio-button" value="debit">Debit</mat-radio-button>
    </div>
  </mat-radio-group>
  <select-component
    class="fast-entry-element"
    formControlName="otherAccount"
    [items]="accts"
    [show]="true"
    [required]="true">
  </select-component>
  <mat-form-field class="fast-entry-element">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="amount" />
  </mat-form-field>
  <button mat-raised-button type="submit" class="btn btn-primary">Submit</button>
</form>
