<app-menu />
<ng-container *ngFor="let client of clients(); let i = index">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ client.businessName }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ client.contactName.asString }}</p>
      <ng-container *ngIf="client.usAddress !== null; else foreignAddress">
        {{ client.usAddress.asString }}
      </ng-container>
      <ng-template #foreignAddress>
        {{ client.foreignAddress?.asString }}
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="clientSelected(client.id)">Select</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
