<form [formGroup]="personNameForm">
  <mat-form-field>
    <mat-label>Prefix</mat-label>
    <input matInput formControlName="prefix" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput formControlName="first" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Middle Name</mat-label>
    <input matInput formControlName="middle" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="last" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Suffix</mat-label>
    <input matInput formControlName="suffix" />
  </mat-form-field>
</form>
