@using System.Security.Authentication
@using System.Security.Claims
@using Accounting101.Data
@using Accounting101.Data.Interfaces
@using Accounting101.State
@using DataAccess.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@implements IDisposable

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject IDataStore DataStore
@inject ILoggedInUser LoggedInUser
@inject IStateRepresentation State

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Accounting 101</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

@switch (_state)
{
    case CurrentState.Level1:
        <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
            <nav class="flex-column">
                <AuthorizeView Roles="User">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All">
                                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="counter">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="weather">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                            </NavLink>
                        </div>
                        @if (_clientsExist)
                        {
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="accounting/clients">
                                    <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Clients
                                </NavLink>
                            </div>
                        }
                        @if (!_businessExists)
                        {
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="accounting/create-business">
                                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Create Business
                                </NavLink>
                            </div>
                        }
                        else
                        {
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="accounting/create-client">
                                    <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Create Client
                                </NavLink>
                            </div>
                        }
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="auth">
                                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Manage">
                                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span>
                                @if (context.User.Identity?.IsAuthenticated ?? false)
                                {
                                    <span>@_applicationUser?.FirstName</span>
                                }
                                else
                                {
                                    throw new AuthenticationException();
                                }
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <AuthorizeView Context="Other" Roles="Administrator">
                                <NavLink class="nav-link" href="Administration/RoleManager">
                                    <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Roles
                                </NavLink>
                            </AuthorizeView>
                        </div>
                        <div class="nav-item px-3">
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@string.Empty" />
                                <button type="submit" class="nav-link">
                                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                                </button>
                            </form>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Register">
                                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="">
                                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                            </NavLink>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </nav>
        </div>
        break;
    case CurrentState.Level2:
        break;
}

@code {
    private string? _currentUrl;
    private ApplicationUser? _applicationUser;
    private bool _businessExists;
    private bool _clientsExist;
    private CurrentState _state;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
        _state = State.State;
    }

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal user = authState.User;
        if (user.Identity?.IsAuthenticated ?? false)
        {
            if (_applicationUser is null)
            {
                _applicationUser = await UserManager.GetUserAsync(user);
                if (_applicationUser != null)
                {
                    LoggedInUser.SetUser(_applicationUser);
                    _businessExists = await DataStore.GetBusinessAsync(_applicationUser.Id.ToString()) is not null;
                    if (_businessExists)
                    {
                        _clientsExist = await DataStore.ClientsExistAsync(_applicationUser.Id.ToString());
                    }
                    StateHasChanged();
                }
            }
        }
        else
        {
            LoggedInUser.ClearUser();
        }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}