<div class="account-layout">
  <div class="fixed-header">
    <app-menu [screen]="Screen.account" />
    <app-client-header [client]="client | async" />
    <mat-divider></mat-divider>
    <app-account-header [account]="account" />
  </div>
  <div class="scrollable-content">
    <app-transaction-list
      [account]="account"
      [accounts]="allAccounts"
      (linkWasClicked)="linkClicked($event)" />
  </div>
  <app-fast-entry
    [accountId]="account.id"
    [accounts]="filteredAccounts" />
</div>
