<form [formGroup]="addressForm">
  <mat-checkbox (click)="toggleAddressForm()">Foreign</mat-checkbox><br />
  <mat-form-field>
    <mat-label>Line 1</mat-label>
    <input matInput formControlName="line1" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Line 2</mat-label>
    <input matInput formControlName="line2" />
  </mat-form-field>
  <mat-form-field>
    <mat-label *ngIf="addressForm.get('isForeign')!.value">Province</mat-label>
    <mat-label *ngIf="!addressForm.get('isForeign')!.value">City</mat-label>
    <input matInput formControlName="cityProvince" />
  </mat-form-field>
  <mat-form-field *ngIf="addressForm.get('isForeign')!.value">
    <mat-label>Postal Code</mat-label>
    <input matInput formControlName="zipPostCode" />
  </mat-form-field>
  <mat-form-field *ngIf="addressForm.get('isForeign')!.value">
    <mat-label>Country</mat-label>
    <mat-select formControlName="country">
      <mat-option *ngFor="let country of countries()" [value]="country">
        {{ country }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="!addressForm.get('isForeign')!.value">
    <mat-label>State</mat-label>
    <mat-select formControlName="state">
      <mat-option *ngFor="let state of states()" [value]="state">
        {{ state }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="!addressForm.get('isForeign')!.value">
    <mat-label>Zip Code</mat-label>
    <input matInput formControlName="zipPostCode" />
  </mat-form-field>
</form>
