<app-account-organizer [accounts]="assetAccounts" [title]="'Asset Accounts'" [layoutGroup]="assetLayout" />
<app-account-organizer [accounts]="liabilityAccounts" [title]="'Liability Accounts'" [layoutGroup]="liabilityLayout" />
<app-account-organizer [accounts]="equityAccounts" [title]="'Equity Accounts'" [layoutGroup]="equityLayout" />
<app-account-organizer [accounts]="revenueAccounts" [title]="'Income Accounts'" [layoutGroup]="revenueLayout" />
<app-account-organizer [accounts]="expenseAccounts" [title]="'Expense Accounts'" [layoutGroup]="expenseLayout" />
<app-account-organizer [accounts]="earningsAccounts" [title]="'Earnings Accounts'" [layoutGroup]="earningsLayout" />
