<app-account-organizer [accounts]="assetAccounts" [layoutGroup]="assetLayout" />
<app-account-organizer [accounts]="liabilityAccounts" [layoutGroup]="liabilityLayout" />
<app-account-organizer [accounts]="equityAccounts" [layoutGroup]="equityLayout" />
<app-account-organizer [accounts]="revenueAccounts" [layoutGroup]="revenueLayout" />
<app-account-organizer [accounts]="expenseAccounts" [layoutGroup]="expenseLayout" />
<app-account-organizer [accounts]="earningsAccounts" [layoutGroup]="earningsLayout" />
