@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body.inheritCursors * { cursor: inherit !important; }

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

menu {
  background-color: lightgray;
}

:root {
  @include mat.menu-overrides((
    container-color: lightgray
  ))
}
