<link rel="stylesheet" href="login-custom.css">
<div class="main-div">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>
        <h1>Accounting 101</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="email">Email</label>
          <input id="email" matInput placeholder="Enter your email" required formControlName="email" class="custom-autofill">
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" matInput type="password" placeholder="Enter your password" required formControlName="password" class="custom-autofill">
        </div>
        <button mat-raised-button color="primary" type="submit" class="login-button">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
