@page "/accounting/clients"

@using System.Security.Claims
@using DataAccess
@using DataAccess.Models
@using DataAccess.Services.Interfaces

@inject IDataStore DataStore
@inject AuthenticationStateProvider AuthenticationStateProvider

@rendermode InteractiveServer

<h3>Client Selector</h3>

@foreach (ClientWithInfo client in _clients)
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <div class="card shadow" @onclick="() => ClientClicked(client.Id.ToString())">
                    <div class="card-header">
                        <div class="card-link">
                            <h5>@client.BusinessName</h5>
                        </div>
                    </div>
                    <div class="card-subtitle">
                        <h6>Contact</h6>
                        <div class="card-body">
                            @client.Name?.ToString()
                        </div>
                    </div>
                    <div class="card-subtitle">
                        <h6>Address</h6>
                        <div class="card-body">
                            @client.Address?.ToString()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private readonly List<ClientWithInfo> _clients = [];

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal user = authState.User;
        if (user.Identity?.IsAuthenticated ?? false)
        {
            // ReSharper disable once StringLiteralTypo
            string id = user.Claims.AsQueryable().FirstOrDefault(c => c.Type.EndsWith("nameidentifier"))?.Value ?? string.Empty;
            if (string.IsNullOrWhiteSpace(id))
            {
                return;
            }
            _clients.AddRange(await DataStore.AllClientsWithInfosAsync(id) ?? []);
            StateHasChanged();
        }
    }

    private void ClientClicked(string id)
    {
        
    }
}