<ng-template #tmplNode let-node="node">
  <div class="node-item">

    <ng-container>
      <div
        *ngIf="isFolder(node)"
        [ngClass]="{'node-title': true, 'folder-node': true, 'node-draggable': isDraggable(node)}"
        (click)="node.isExpanded=!node.isExpanded"
        [id]="'node-' + node.id"
        [attr.data-id]="node.id"
        (contextmenu)="contextMenu($event)">
        {{node.children.length
          ? (node.isExpanded?'-&nbsp;':'+')
          : '&nbsp;&nbsp;&nbsp;'}} &nbsp;&nbsp;&nbsp; {{node.name}}
      </div>
      <div
        *ngIf="isAccount(node)"
        [id]="'node-' + node.id"
        [attr.data-id]="node.id"
        [ngClass]="{'node-title': true, 'node-draggable': true}">
        {{ '&nbsp;&nbsp;&nbsp;' + node.name }}
      </div>
    </ng-container>

    <div
      *ngIf="isFolder(node) && node.isExpanded"
      class="node-children"
      cdkDropList
      [cdkDropListData]="node"
      [attr.id]="node.id"
      [cdkDropListConnectedTo]="dropTargetIds"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListSortingDisabled]="true">
      <div
        *ngFor="let child of node.children"
        cdkDrag
        [cdkDragData]="child.id"
        (cdkDragMoved)="dragMoved($event)">
        <ng-container *ngTemplateOutlet="tmplNode,context:{node:child}" />
      </div>
    </div>
  </div>
</ng-template>

<div cdkDropList [cdkDropListData]="nodes"
     [id]="'main'"
     [cdkDropListConnectedTo]="dropTargetIds"
     (cdkDropListDropped)="drop($event)"
     [cdkDropListSortingDisabled]="true">

  <ng-container *ngFor="let node of nodes">
    <div
      *ngIf="isFolder(node) && !isDraggable(node)"
      class="root-folder folder-node"
      [attr.data-id]="node.id"
      (contextmenu)="contextMenu($event)">

      <ng-container *ngTemplateOutlet="tmplNode,context:{node:node}" />

    </div>
    <div
      *ngIf="(isFolder(node) && isDraggable(node)) || isAccount(node)"
      cdkDrag
      [id]="'node-' + node.id"
      [cdkDragData]="node.id"
      (contextmenu)="contextMenu($event)"
      (cdkDragMoved)="dragMoved($event)">

      <ng-container *ngTemplateOutlet="tmplNode,context:{node:node}" />

    </div>
  </ng-container>
</div>
