<ng-template #tmplNode let-node="node">
  <div class="node-item">

    <ng-container>
      <div
        *ngIf="isFolder(node)"
        [ngClass]="{'node-title': true, 'folder-node': true, 'draggable-node': isDraggable(node)}"
        (click)="node.isExpanded=!node.isExpanded"
        (contextmenu)="onContextMenu($event, node)"
        [id]="'node-' + node.id"
        [attr.data-id]="node.id">
        <div style="visibility: hidden; position: fixed;"
             [style.left]="contextMenuPosition.x"
             [style.top]="contextMenuPosition.y"
             [matMenuTriggerFor]="popupMenu">
        </div>
        <span *ngIf="node.isExpanded">
          <i class="material-icons">folder_open</i>
          <span class="folder-text">{{ node.name }}</span>
        </span>
        <span *ngIf="!node.isExpanded">
          <i class="material-icons">folder</i>
          <span class="folder-text">{{ node.name }}</span>
        </span>
      </div>
      <div
        *ngIf="isAccount(node)"
        [id]="'node-' + node.id"
        [attr.data-id]="node.id"
        [ngClass]="{'node-title': true, 'draggable-node': true}">
        <button mat-stroked-button class="account-button" (click)="accountClicked(node.id)">
          <i class="material-icons">account_balance</i>
          <span class="node-text">{{ node.name }}</span>
        </button>
      </div>
      <mat-menu #popupMenu="matMenu">
        <ng-template matMenuContent let-item="item">
          <button mat-menu-item (click)="onContextMenuNew(item)">New</button>
          <button *ngIf="item.isDraggable" mat-menu-item (click)="onContextMenuRename(item)">Rename</button>
          <button *ngIf="item.isDraggable" mat-menu-item (click)="onContextMenuDelete(item)">Delete</button>
        </ng-template>
      </mat-menu>
    </ng-container>

    <div
      *ngIf="isFolder(node) && node.isExpanded"
      class="node-children"
      cdkDropList
      [cdkDropListData]="node"
      [attr.id]="node.id"
      [cdkDropListConnectedTo]="dropTargetIds"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListSortingDisabled]="true">
      <div
        *ngFor="let child of node.children"
        cdkDrag
        [cdkDragData]="child.id"
        (cdkDragMoved)="dragMoved($event)">
        <ng-container *ngTemplateOutlet="tmplNode,context:{node:child}" />
      </div>
    </div>
  </div>
</ng-template>

<div cdkDropList [cdkDropListData]="nodes"
     [id]="'main'"
     [cdkDropListConnectedTo]="dropTargetIds"
     (cdkDropListDropped)="drop($event)"
     [cdkDropListSortingDisabled]="true">

  <ng-container *ngFor="let node of nodes">
    <div
      *ngIf="isFolder(node) && !isDraggable(node)"
      class="root-folder folder-node"
      [attr.data-id]="node.id">

      <ng-container *ngTemplateOutlet="tmplNode,context:{node:node}" />

    </div>
  </ng-container>
</div>
