<mat-card (click)="headerClicked()">
  <mat-card-header>
    <mat-card-title>{{ account().info.coAId }} {{ account().info.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="account-type">{{ account().type }} Account</p>
    <p *ngIf="account().isDebitAccount" class="type">Debit Account</p>
    <p *ngIf="!account().isDebitAccount" class="type">Credit Account</p>
    <p class="created-on">Created on: {{ account().created.toLocaleString() }}</p>
    <p class="open-balance">Opening balance: {{ account().startBalance.toLocaleString("en-US", { style: "currency", currency: "USD" }) }}</p>
  </mat-card-content>
</mat-card>
