mat-card-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 0;
  margin: 0;
}

.account-type {
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
  padding: 0;
  margin: 0 0 0 20px;
}

.type {
  grid-row: 2;
  grid-column: 1;
  justify-self: start;
  padding: 0;
  margin: 0 0 0 20px;
}

.created-on {
  grid-row: 3;
  grid-column: 1;
  justify-self: start;
  padding: 0;
  margin: 0 0 0 20px;
}

.open-balance {
  grid-row: 4;
  grid-column: 1;
  justify-self: start;
  padding: 0;
  margin: 0 0 0 20px;
}
