@page "/Home"

@using Accounting101.InMemoryState

@inject StateContainer StateContainer

@rendermode InteractiveAuto

<PageTitle>Accounting 101</PageTitle>

<h1>The best accounting app in the world!</h1>

@code
{
    protected override void OnInitialized()
    {
        StateContainer.Property = null;
        StateContainer.SelectedClient = null;
        StateContainer.NotifyStateChanged();
        base.OnInitialized();
    }
}